ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.pokeContainer {
    border: 3px solid black;
    box-shadow: 2px 4px 5px 1px #000011;
    width: 250px;
    margin: 20px;
}
.pokemonName {
    padding-top: 10px;
    color: white;
    list-style: none;
    text-transform:capitalize;
    font-weight: bolder;
    font-size: 1.2rem;
    text-align: center;
}
.pokemonImage {
    height: 200px !important;
    width: 200px !important;
    display: flex;
    align-items: center;
    margin: auto;
}
.pokemonType {
    color: white;
}